


/* Navbar */
.navbar{
    height: 10vh;
    font-family: 'Bebas Neue', cursive;
    /* font-weight: bold; */
    font-size: 25px;
 
}

.nav-item:hover{
    color: #000;
    background-color: #E50914;
    border-radius: 3px;
}

.nav-item:active{
    background-color: #E50914;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show .nav-link {
    color: #000;
}

.navbar-light .navbar-brand {
    color: #E50914;
    font-size: 50px;
    
}

.navbar-light .navbar-brand:hover{
    color: #E50914;
}

.navbtn{
    margin-left: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 40px;
    font-family: 'Amatic SC', cursive;
}

.navbtn:hover{
    color: #fff;
    border-bottom: 3px solid #0d6efd;
}

.main{
    height: 300vh;
}

.img{
    background-image:url('https://scontent-lga3-2.xx.fbcdn.net/v/t39.8562-6/252509574_769584853942762_4631444119178197375_n.png?_nc_cat=102&ccb=1-5&_nc_sid=6825c5&_nc_ohc=ndtGgqAEHuAAX-J9U8n&_nc_ht=scontent-lga3-2.xx&oh=59af1a631c0db2890bf3c6d23ae56647&oe=61B7F254');
    height: 100vh;
    margin-top: 0; 
    padding: 0;
    background-position: 10% 10% ;
    background-size: cover;
    background-attachment: fixed;
}

.slogan{
    color:#fff;
    position: absolute;
    font-family:'work sans', sans-serif;
    top: 50%;
    left: 35%;
    margin-left: -20px;
    margin-top: -25px; 
    text-align: center;
 
}

.content{
    height: 100vh;
    
}

.container-metaflix{
    margin-top: 6%;
    text-align: center; 
}

.meta{
    color: #E50914;
    font-family: 'Bebas Neue', cursive;
    font-size: 70px;
}

.mission{
    color: rgb(77, 73, 73);
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
}

.one{
    margin-top:10%;
}

.video{
    width: 150%;
    
}

.container-build{
    margin-top: 15%;
    text-align: center; 
}
.build{
    font-size: 50px;
}

.product{
    margin-top: 10%;
    margin-left: 10%;
}

.img-one{
    width: 80%;
    height: auto;
}

.img-two{
    width: 80%;
    margin-top: 30%;
    height: auto;
}
.img-three{
    width: 40%;
    height: auto;
}

.pic{
    width: 43%;
}

.product-title{
    margin-top: 2%;
    font-size:30px ;
    font-family: 'Source Sans 3', sans-serif;
}

.product2{
    margin-left: 10%;
  
}
.virtual{
    border-top: 1px solid rgb(179, 176, 176);
    border-bottom: 1px solid rgb(179, 176, 176);
    margin-top: 10%;
    height: 50vh;
    /* margin-bottom: 50%; */
}

.virt{
    margin-top: 6%;
    margin-right: -10%;
    
}

.virtual-title{
    /* margin-top: 5%; */
    padding-left:10%;
    font-size: 40px;
    color:#344854;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
}

.shop{
    font-size: 15px;
    color: #344854;
    text-decoration: none;
}

.glass {
  height:40vh;
  float:left;
  margin-right: -50px;
}

.container-future{
    margin-top: 6%;
    text-align: center; 
}

.future{
    color: #344854;
    font-family: 'Work Sans', sans-serif;
    font-size: 40px;
    margin-bottom: 3%;
}

.mission{
    color: rgb(77, 73, 73);
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    margin-bottom: 3%;
}

.moon{
    width: 100%;
    padding: 0 calc(((100% - 528px) / 12) * 1 + 48px);
    overflow: hidden;
}
.moon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}