body{
    width: auto;
    height: auto;
}
/* Navbar */



/* all move page */

.all-page{
    padding-top: 60px ;
    background: #000;
}
.film-section {
    position: relative;
    width: 100%;
    display: inline-block;
    flex-direction: column;
    margin-left: 1px;
    margin-bottom: 3%;
}
.films-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    overflow: scroll;
    /* overflow: hidden; */
}


.film-card {
    width: 12%;
    display: flex;
    flex-direction: column;
    height: 400px;
    padding: 15px;
    color: #fff;
    overflow: hidden;
    overflow: scroll;
    font-size:15px;
    /* border: 1px rgb(213, 210, 210) solid; */
    border-radius: 10px;
    margin: 4px;
    cursor: pointer; 
}

.film-card:hover{
    border: 2px #E50914 solid;;
}

.film-card_title {
    margin: 10px 0;
    font-size: 17px;
    font-family: 'Playfair Display', serif;
}
.film-card_poster {
    width: 100%;
}
.film-section  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}
.film-card_date {
    margin-top: auto;
}

.modal-content{
    height: 70vh;
}

.modal{
    width: 10;
}


.film-section_title{
color:#E50914;
margin-left: 10px;
font-family: 'Calistoga', cursive;
font-size: 45px;
}


@media only screen and (max-width: 1446px){
    .film-card{
     width: 15%;
    }
}

@media only screen and (max-width: 1100px){
    .film-card{
     width: 20%;
    }
}

@media only screen and (max-width: 920px){
    .film-card_date{
     margin-top: 5%;
    }
    .film-card{
        width: 20%;
       }
}

@media only screen and (max-width: 800px){
    .film-card{
     width: 30%;
    }
   
}

