body{
    width: auto;
    height: auto;
}
/* Navbar */

.navbar{
    height: 10vh;
    font-family: 'Bebas Neue', cursive;
    /* font-weight: bold; */
    font-size: 25px;
    background-color: rgb(238, 236, 236);
 
}

.nav-item:hover{
    color: #000;
    background-color: #E50914;
    border-radius: 3px;
}

.nav-item:active{
    background-color: #E50914;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show .nav-link {
    color: #000;
}

.navbar-light .navbar-brand {
    color: #E50914;
    font-size: 50px;
    
}

.navbar-light .navbar-brand:hover{
    color: #E50914;
}

.navbtn{
    margin-left: 20px;
    text-decoration: none;
    color: #fff;
    font-size: 40px;
    font-family: 'Amatic SC', cursive;
}

/* all move page */

.all-page{
    padding-top: 60px ;
    background: #fff;
}
.film-section {
    position: relative;
    width: 100%;
    display: inline-block;
    flex-direction: column;
    margin-left: 1px;
    margin-bottom: 3%;
}
.films-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    overflow: scroll;
    /* overflow: hidden; */
}


.film-card {
    width: 12%;
    display: flex;
    flex-direction: column;
    height: 400px;
    padding: 15px;
    color: #000;
    overflow: hidden;
    overflow: scroll;
    font-size:15px;
    border: 1px rgb(213, 210, 210) solid;
    border-radius: 10px;
    margin: 4px;
    cursor: pointer; 
}

.film-card:hover{
    border: 2px #E50914 solid;;
}

.film-card_title {
    margin: 10px 0;
    font-size: 17px;
    font-family: 'Playfair Display', serif;
}
.film-card_poster {
    width: 100%;
}
.film-section  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}
.film-card_date {
    margin-top: auto;
}


.film-section_title{
color:#E50914;
margin-left: 10px;
font-family: 'Calistoga', cursive;
font-size: 35px;
}
