


@media only screen and (max-width: 991px){
    .collapse{
        z-index: 10;
        height: 100vh;
        background-color: #000;
        color: #fff;
        /* padding: 1%; */
        width: auto;
    }
    body{
        height: 50%;
    }

    .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show .nav-link{
        padding-left: 3%;
        color: #fff;
        letter-spacing: 2px;
        font-size: 30px;
    }
}